// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg {
    background: url("https://scontent.flos1-1.fna.fbcdn.net/v/t1.0-9/s960x960/108152633_3219192991435224_8256505108727641954_o.jpg?_nc_cat=101&_nc_sid=8024bb&_nc_eui2=AeEFnD0nA8gdlajGoGjCzGw_QJ6R3OMQ4tFAnpHc4xDi0ZSTb4VyVAVdH34v2dl6RQ4yl6j5wJFdUBgEpx2iadwT&_nc_ohc=5qaIVis6ZlEAX9pZjZ9&_nc_ht=scontent.flos1-1.fna&_nc_tp=7&oh=c02eb84dfb4e8881111bc35786eaee1a&oe=5F332C7B");
    background-size: cover;
    height: 617px;
    background-repeat: no-repeat;
}